<div class="jumbotron text-center">
    <h1 class="display-3">InstaLoop</h1>
    <p>Create amazing loops straight from your Instagram Account</p>

<a href="/auth" class="btn btn-dark btn-lg"><i class = "fa fa-instagram left"></i> Login With Instagram</a>
</div>